h1 {
    color: #ff5100;
    font-size: 30px;
    }
    /* Estilo para los párrafos */
    p {
    color: #000000;
    font-size: 20px;
    }
    /* Estilo para los enlaces */
    a {
    color: #6d3fec;
    text-decoration: none;
    }